---
const { title, url, date, description, tags } = Astro.props
import { formatDate } from  "../js/utils.js"

---
<li class="postcard">
  <a href={url}>
    <h1>{title}</h1>
    <p>{formatDate(date)}</p>
    <p>{description}</p>
    <p><i class="fa-solid fa-tags"></i>{tags}</p>
  </a>
</li>