---
const { title, url, date, description, tags } = Astro.props
import { formatDate, formatTags } from  "../js/utils.js"

---
<li class="postcard">
  
  <a href={url}>
    <p class="postdate">{formatDate(date)}</p>
    <h1 class="posttitle">{title}</h1>

   
  </a>
<p class="posttags">
  {(tags || []).map((tag) => (
    <a class="tag" href={`/tags/${tag}`}>#{tag}</a>
  ))}
</p>
</li>
